<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mall.user.mapper.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.mall.user.model.Permission">
        <id column="id" property="id"/>
        <result column="discription" property="discription"/>
        <result column="url" property="url"/>
        <result column="create_tm" property="createTm"/>
        <result column="update_tm" property="updateTm"/>
        <result column="create_id" property="createId"/>
        <result column="update_id" property="updateId"/>
    </resultMap>
    <!--获取权限对应的角色-->
    <select id="getAllPermission" resultType="com.github.mall.user.vo.RolePermissionOutVo">
        SELECT
            b.*,
            a.url,
            c.role_name
        FROM
            permission a
            LEFT JOIN role_permission b ON b.permission_id = a.id
            LEFT JOIN role c ON b.role_id = c.id
    </select>

</mapper>
